body
{
	background-color: #222;
	color: #bdbdbd;
}

.options
{
	padding: 10px;
	border: 4px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 5px;
	background-color: #435e43;

}

.video
{
	display: block;
	background-color: #222222;
	width: 75%;
	padding: 3rem;
	border: 2px solid black;
	margin: 0 auto;
	border-radius: 20px;
}

figcaption
{
	text-align: center;
}

.oldSchool
{
	filter: grayscale(100%);
	width: 75%;
	border: 5px double grey;
	border-radius: 20px;
}

button
{
	margin-bottom: 5px;
	flex-basis: 200px;
	font-size: 125%;
}

img
{
	padding-left: .6rem;
	padding-top: .6rem;
	height: 2rem;
}

.bwbox
{
	background: linear-gradient(to bottom, #000, #ffF);
}

.colorbox
{
	background: linear-gradient(to bottom, orange 0%, green 50%, yellowgreen 100%);
}

.display,
.imgBox
{
	height: 3rem;
	width: 5rem;
	margin: .2rem;
	padding-top: .4rem;
	border: solid 2px black;
	border-radius: 5px;
	background-color: #9fd89f;
	text-align: center;
	box-shadow: 0px 0px 0px #000;
	position: relative;
	top: 0;
	box-shadow: 0px 3px 5px 1px #ccc;
	transition: top 0.05s ease-in-out, box-shadow 0.05s ease-in-out;

}

display:active
{
	top: 3px;
	box-shadow: 0px 0px 5px 1px #ccc;
}

.specialPlay
{
	padding-top: 0rem;
}


.display:hover,
.imgBox:hover
{
	background-color: #fff;
	box-shadow: 0 0 10px #000;

}

img.image
{
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* .display{
	background-color: #fff;
}

.display:hover{
	background-color: #9fd89d;
	border: solid 5px #ff33ff;
} */


body
{
	text-align: center;
}